* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
}

header > img {
    height: 90px;
    width: 170px;

}

header > nav {
    display: flex;
    flex-grow: 1;
    padding: 40px;
    justify-content: center;
    background-color: azure;
}

.listanav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    top: 0;
    padding: 0;
    gap: 100px;

}

a {
    text-decoration: none;
    color: rgb(241, 126, 126);
}

.portada {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(243, 201, 243);
    padding: 60px;

}
    
.imgperfumes {
    width: 30%;
    height: 280px;
    width: 280px;   
}

h1 {
    display: flex;
    flex-shrink: inherit;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

.botones {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

button {
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    border:color(from color srgb r g b);
    height: 30px;
    background-color: rgb(211, 132, 211);
}

.hombre {
    display: flex;
    margin: 40px;
}

.hombre > img {
    height: 300px;
    width: 320px;
}

.mujer {
    display: flex;
    flex-direction: row-reverse;
}

.mujer > img {
    height: 350px;
    width: 350px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indianred;
}

p > .hombre {
    display: flex;
    margin-top: 10px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

p > .mujer {
    display: flex;
    margin-top: 10px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: black;

}

footer > ul {
    display: flex;
    flex-grow: 1;
    width: 250px;
    justify-content: center;
    gap: 60px;
    color: white;
    list-style-type: none;

}